[submodule "account-abstraction-tests/lib/forge-std"]
	path = account-abstraction-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "account-abstraction-tests/lib/account-abstraction"]
	path = account-abstraction-tests/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
